@font-face {
  font-family: 'nepente';
  src:url('../fonts/nepente.eot?-nep94v');
  src:url('../fonts/nepente.eot?#iefix-nep94v') format('embedded-opentype'),
    url('../fonts/nepente.woff?-nep94v') format('woff'),
    url('../fonts/nepente.ttf?-nep94v') format('truetype'),
    url('../fonts/nepente.svg?-nep94v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="nepente-"], [class*=" nepente-"] {
  font-family: 'nepente';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nepente-logo:before {
  content: "\e600";
}
.nepente-logo-o:before {
  content: "\e608";
}

@font-face {
  font-family: "Existence-Light";
  src: url("../fonts/Existence-Light.otf") format("opentype");
}
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}
body,
html {
  height: 100%;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  -webkit-text-size-adjust: none;
}
h2 {
  font-size: 75px;
  line-height: 80px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 0 20px 0;
}
h2 span {
  font-size: 100px;
  line-height: 120px;
  display: block;
}
.heading__color {
  color: #333333;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 55px;
    line-height: 60px;
  }
}
h3 {
  font-size: 50px;
  line-height: 66px;
  color: #eb4f1e;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 16px;
}
h4 {
  font-size: 32px;
  line-height: 38px;
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 16px;
}
/* HEADER styles */
.logo {
  position: relative;
  padding: 248px 0 46px 0;
  text-align: center;
  z-index: 2;
  font-family: Existence-Light;
}
.logo span {
  font-size: 100px;
}
.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  line-height: 110px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 1199px) {
  .logo {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    padding-bottom: 20px;
  }
  .logo a {
    padding-top: 40px;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -2px;
    padding-top: 44px;
  }
}
/* CONTENT styles */
#content {
  overflow: hidden;
}
/* Video section */
#home {
  padding: 0px 0 150px 0;
  position: relative;
  text-align: center;
  background: url("../images/hero.jpg") no-repeat;
  background-size: 100%;
}
.video-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slogan {
  position: relative;
  z-index: 2;
}
.slogan h2 {
  font-size: 73px;
  padding-bottom: 42px;
}
.slogan span {
  font-weight: 300;
  display: block;
  padding: 0 70px;
}
h2.slogan-title {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  #home {
    padding-bottom: 100px;
  }
  .slogan h2 {
    font-size: 43px;
    line-height: 46px;
    padding-bottom: 42px;
  }
  .slogan span {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 479px) {
  #home {
    padding-bottom: 50px;
  }
  .slogan h2 {
    font-size: 43px;
    line-height: 46px;
    padding-bottom: 42px;
  }
  .slogan span {
    padding: 0;
  }
}
/* About section */
#about {
  background: #e9e9e9;
  padding: 28px 0 70px 0;
  text-align: center;
  color: #777777;
  font-weight: 300;
}
.about-indent {
  padding: 0 50px;
}
.btn-default {
  display: inline-block;
  padding: 20px 68px;
  color: #fff;
  font-weight: bold;
  background: #eb4f1e;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 32px;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-default:hover {
  background: #000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 767px) {
  .about-indent {
    padding: 0 10px;
  }
  #about h3 {
    font-size: 40px;
    line-height: 46px;
  }
}
@media only screen and (max-width: 479px) {
  #about h3 {
    font-size: 30px;
    line-height: 32px;
  }
  #about h4 {
    font-size: 20px;
    line-height: 22px;
  }
}
/* STATISTICS section */
#statistics {
  background: url('../images/statistics-bg.jpg') 0 0;
  text-align: center;
  padding: 34px 0 70px 0;
}
.statistics-indent {
  padding: 0 60px;
  font-weight: 300;
}
.box-1 {
  background: rgba(33, 33, 33, 0.8);
  text-align: center;
  padding: 55px 0 25px 0;
  margin-top: 34px;
  min-height: 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.skill-number {
  font-size: 65px;
  line-height: 71px;
  font-weight: 300;
  color: #fff;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.skill-title {
  font-size: 19px;
  line-height: 31px;
  color: #fff;
  font-weight: normal;
  display: block;
  text-transform: uppercase;
  padding-top: 14px;
}
.box-1__active {
  background: rgba(235, 79, 30, 0.8);
}
@media only screen and (max-width: 979px) {
  .statistics-indent {
    padding: 0px;
  }
  .box-1 {
    padding: 55px 10px 25px 10px;
    min-height: 260px;
  }
}
@media only screen and (max-width: 767px) {
  .box-1 {
    min-height: 240px;
  }
}
/* Team section */
#team {
  background: #e9e9e9;
  padding: 28px 0 70px 0;
  text-align: center;
  font-weight: 300;
}
.team-list {
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  position: relative;
}
.thumbnail {
  text-align: center;
  width: 80%;
  position: relative;
  overflow: hidden;
  margin: auto
}
.thumbnail img {
  width: 100%;
}
.thumbnail:hover .member-description {
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
  opacity: 1;
}
.thumbnail:hover .member-description li:nth-child(1) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.thumbnail:hover .member-description li:nth-child(2) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.thumbnail:hover .member-description li:nth-child(3) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.thumb-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0 10% 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.team-link {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.team-link:hover {
  color: #c1c1c1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.member-description {
  background: rgba(33, 33, 33, 0.8);
  padding: 15px 0 15px 0;
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, -100%, 0);
  transform: translate3d(-100%, -100%, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  overflow: hidden;
}
.social-contact {
  width: 210px;
  margin: 0 auto;
}
.social-contact li {
  float: left;
  padding: 0 10px 0 0px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
.social-contact li a {
  text-decoration: none;
  color: #fff;
  font-size: 31px;
  line-height: 39px;
  display: inline-block;
  padding: 12px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 500px;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.social-contact li a:hover {
  background: #eb4f1e;
  border-color: #eb4f1e;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.social-contact li:last-child {
  padding: 0;
}
.social-contact li:nth-child(1) {
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}
.social-contact li:nth-child(2) {
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0);
}
.social-contact li:nth-child(3) {
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}
.member-text {
  color: #eb4f1e;
  font-weight: 300;
  display: block;
  font-size: 17px;
  line-height: 25px;
}
/* Services section */
#services {
  text-align: center;
  color: #777777;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  background: #f5f5f5;
}
.services-indent {
  padding: 34px 0 70px 0;
}
.indent-1 {
  padding: 0 60px 40px 60px;
}
.service-list {
  overflow: hidden;
  width: 100%;
}
.service-box {
  position: relative;
  padding: 40px 50px 38px 247px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  float: left;
  width: 50%;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-box:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-icon {
  font-size: 117px;
  line-height: 120px;
  color: #fff;
  position: absolute;
  left: 72px;
  top: 68px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-title {
  font-size: 19px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  padding-bottom: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-description {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-1 {
  background: #eb4f1e;
}
.service-1:hover .service-icon,
.service-1:hover .service-title,
.service-1:hover .service-description {
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-2 {
  background: #939393;
}
.service-2:hover .service-icon,
.service-2:hover .service-title,
.service-2:hover .service-description {
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-3 {
  background: #e9e9e9;
}
.service-3 .service-icon {
  color: #bababa;
  left: 58px;
}
.service-3 .service-title {
  color: #333333;
}
.service-3 .service-description {
  color: #777777;
}
.service-3:hover .service-icon,
.service-3:hover .service-title,
.service-3:hover .service-description {
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-4 {
  background: url(../images/service-4-bg.jpg) 0 0;
}
.service-4 .service-icon {
  left: 58px;
}
.service-4:hover .service-icon,
.service-4:hover .service-title,
.service-4:hover .service-description {
  color: #eb4f1e;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-5 {
  background: #fff;
}
.service-5 .service-icon {
  left: 64px;
  color: #eb4f1e;
}
.service-5 .service-title {
  color: #eb4f1e;
}
.service-5 .service-description {
  color: #777777;
}
.service-5:hover .service-icon,
.service-5:hover .service-title,
.service-5:hover .service-description {
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.service-6 {
  background: #000;
}
.service-6 .service-icon {
  left: 60px;
}
.service-6:hover .service-icon,
.service-6:hover .service-title,
.service-6:hover .service-description {
  color: #eb4f1e;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 1199px) {
  .service-box {
    margin: 0 auto;
    float: none;
    width: 60%;
  }
}
@media only screen and (max-width: 979px) {
  .service-box {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .service-box {
    width: 100%;
    padding: 160px 50px 38px 50px;
  }
  .service-icon {
    font-size: 117px;
    line-height: 120px;
    color: #fff;
    position: absolute;
    left: 50% !important;
    margin-left: -60px;
    top: 30px;
  }
  .service-4 {
    background-size: auto 100%;
    background-position: 50% 50%;
  }
}
/* Contacts section */
#contacts {
  background: url(../images/contacts-bg.jpg) 50% 50%;
}
#contacts .social-contact {
  text-align: center;
  overflow: hidden;
}
#contacts .social-contact li:nth-child(1) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#contacts .social-contact li:nth-child(2) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#contacts .social-contact li:nth-child(3) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.align {
  text-align: center;
}
.contacts-indent {
  padding: 20px 0 90px 0;
}
.contact {
  text-align: center;
  padding-bottom: 190px;
}
.contact-text {
  color: #eb4f1e;
  font-size: 19px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 20px 0 46px 0;
}
.contact-mail {
  padding: 20px 0 74px 50px;
}
.contact-mail li {
  font-size: 34px;
  line-height: 40px;
  font-weight: 300;
  color: #fff;
  display: inline-block;
  padding-right: 40px;
}
.contact-mail li span {
  font-size: 24px;
  line-height: 24px;
  color: #eb4f1e;
  display: inline-block;
  position: relative;
  left: -10px;
  top: 10px;
}
@media only screen and (max-width: 479px) {
  .contact-mail li {
    font-size: 22px;
    line-height: 44px;
  }
}
#owl-contact {
  margin-top: 160px;
}

/* Widget styles */
#w {
  height: 900px;
}
/* UItoTop styles */
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  overflow: hidden;
  border: none;
  color: #ccc;
  width: 40px;
  height: 43px;
  font-size: 43px;
  line-height: 38px;
  z-index: 20;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
#toTop:hover {
  outline: none;
  color: #c0c0c0;
}
@media only screen and (max-width: 1199px) {
  #toTop {
    display: none !important;
  }
}