@font-face {
  font-family: "Existence-Light";
  src: url("../fonts/Existence-Light.otf") format("opentype");
}

body, h3, h4 {
  font-family: 'Lato', sans-serif;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: none;
}

.valign {
  display: table;
  width: 100%;
  height: 100%;
}

.valign > div {
  display: table-cell;
}

.valign.middle > div {
  vertical-align: middle;
}

.value .value-icon {
  color: rgba(235, 79, 30, 1.0);
  font-size: 4em;
}

.value .value-title {
  color: rgba(119, 119, 119, 1.0);
  text-transform: uppercase;
  font-size: 1.2em;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  overflow: hidden;
  border: none;
  color: rgba(204, 204, 204, 1.0);
  width: 40px;
  height: 43px;
  font-size: 43px;
  line-height: 38px;
  z-index: 20;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#toTop:hover {
  outline: none;
  color: rgba(192, 192, 192, 1.0);
}

#hero {
  background: url("../images/hero.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .logo {
  font-size: 6em;
}

#hero .title {
  font-size: 4em;
}

#hero .subtitle {
  font-size: 2em;
}

#hero,
#hero .title,
#hero .subtitle {
  font-family: Existence-Light;
  color: rgb(255, 255, 255);
}

#about {
  background: rgba(233, 233, 233, 1.0);
  color: rgba(119, 119, 119, 1.0);
}

#services {
  color: rgba(119, 119, 119, 1.0);
  background: rgba(245, 245, 245, 1.0);
}

#services .service-box {
  padding: 20px 15px 5px 15px;
}

#services .service-box:hover .service-icon,
#services .service-box:hover .service-title,
#services .service-box:hover .service-description {
  color: rgba(0, 0, 0, 1.0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#services .service-box .service-icon {
  font-size: 5.5em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#services .service-box .service-title {
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#services .service-box .service-description {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#services .service-box.service-box-desenvolvimento-destaque {
  background: url(../images/service-1-bg.jpg) 0 0;
}

#services .service-box.service-box-desenvolvimento {
  background: rgba(0, 143, 3, 0.75);
}

#services .service-box.service-box-consultoria {
  background: rgba(96, 126, 255, 0.75);
}

#services .service-box.service-box-consultoria-destaque {
  background: url(../images/service-4-bg.jpg) 0 0;
}

#services .service-box.service-box-treinamento {
  background: rgba(235, 79, 30, 0.75);
}

#services .service-box.service-box-treinamento-destaque {
  background: url(../images/service-5-bg.jpg) 0 0;
}

#community {
  background: url('../images/statistics-bg.jpg');
  background-position: center;
  background-size: cover;
}

#community .value .value-title {
  display: block;
}

#team {
  background: rgba(233, 233, 233, 1.0);
  padding: 28px 0 70px 0;
  font-weight: 300;
  color: rgba(119, 119, 119, 1.0);
}

#team h3 {
  background-color: rgba(119, 119, 119, 0.65);
  color: rgba(255, 255, 255, 1.0);
  display: inline-block;
  padding: 10px 60px;
}

#team .team-text{
  padding-top:40px;
}

#team .team-list .team-member .team-member-image {
  width: 100%;
}

#team .team-list .team-member .team-member-link {
  display: inline-block;
  color: rgba(0, 0, 0, 1.0);
  font-weight: bold;
  text-transform: uppercase;
}

#team .team-list .team-member .team-member-contact li a {
  font-size: 2.3em;
}

#quotes {
  background: rgba(162, 162, 162, 1.0);
}

#contacts {
  background: url(../images/contacts-bg.jpg) 50% 50%;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 40.063em) {
  #hero {
    background-position: center 85%;
  }

  #hero .title {
    display: inline-block;
  }

  #services .service-box {
    height: 250px;
  }
}
