<section id="community" class="text-center fundo-marrom" data-stellar-background-ratio="0">
  <div class="row">
    <div class="columns medium-10 medium-centered">
      <h1 class="titulo">uma comunidade</h1>
      <h2 class="subtitulo">de pessoas apaixonadas por tecnologia</h2>
      <p>
        Acreditamos que a melhor forma de fazer um mundo melhor é através da colaboração.<br />
        Gostamos de compartilhar conhecimento, boas histórias e esperamos você se juntar a nós.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <ul class="small-block-grid-3 medium-block-grid-3">
        <li class="value">
          <a href="http://blog.nepente.io" target="_blank">
            <i class="icon-blog destaque"></i>
            <p class="uppercase">Blog</p>
          </a>
        </li>
        <li class="value">
          <a href="https://github.com/nepente" target="_blank">
            <i class="icon-github destaque"></i>
            <p class="uppercase">GitHub</p>
          </a>
        </li>
        <li class="value">
          <a href="http://eventos.nepente.io" target="_blank">
            <i class="icon-eventos destaque"></i>
            <p class="uppercase">Eventos</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
