<section id="community" class="text-center fundo-marrom" data-stellar-background-ratio="0">
  <div class="row">
    <div class="columns medium-10 medium-centered">
      <h1 class="titulo">{% t comunidade.titulo %}</h1>
      <h2 class="subtitulo">{% t comunidade.subtitulo %}</h2>
      <p>
        {% t comunidade.descricao %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <ul class="small-block-grid-3 medium-block-grid-3">
        <li class="value">
          <a href="http://blog.nepente.io" target="_blank">
            <i class="icon-blog destaque"></i>
            <p class="uppercase">{% t comunidade.blog %}</p>
          </a>
        </li>
        <li class="value">
          <a href="https://github.com/nepente" target="_blank">
            <i class="icon-github destaque"></i>
            <p class="uppercase">{% t comunidade.github %}</p>
          </a>
        </li>
        <li class="value">
          <a href="http://eventos.nepente.io" target="_blank">
            <i class="icon-eventos destaque"></i>
            <p class="uppercase">{% t comunidade.eventos %}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
