<head>
  <title>{% t page.title %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{site.description}}">

  <!-- Open Graph Protocol Metadata -->
  <meta property="og:title" content="{% t page.title %}" />
  <meta property="og:type" content="{{site.type}}" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:image" content="{{site.hero | prepend:site.url}}" />
  <meta property="og:description" content="{{site.description}}" />
  <meta property="og:site_name" content="{{site.name}}" />
  <meta name="p:domain_verify" content="{{site.domain_verify}}"/>

  <!-- Twitter Cards Metadata -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{site.twitter_username}}" />
  <meta name="twitter:title" content="{% t page.title %}" />
  <meta name="twitter:description" content="{{site.description}}" />
  <meta name="twitter:image" content="{{site.hero | prepend:site.url}}" />
  <meta name="twitter:url" content="{{site.url}}" />

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans:400,700">
  <link rel="stylesheet" href="css/nepente-font.css">
  <link rel="stylesheet" href="vendor/foundation/normalize.min.css">
  <link rel="stylesheet" href="vendor/foundation/foundation.min.css">
  <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png?v=NmY2AXwMBG">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png?v=NmY2AXwMBG">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png?v=NmY2AXwMBG">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png?v=NmY2AXwMBG">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png?v=NmY2AXwMBG">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png?v=NmY2AXwMBG">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png?v=NmY2AXwMBG">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png?v=NmY2AXwMBG">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png?v=NmY2AXwMBG">
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=NmY2AXwMBG" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicons/favicon-194x194.png?v=NmY2AXwMBG" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=NmY2AXwMBG" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png?v=NmY2AXwMBG" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=NmY2AXwMBG" sizes="16x16">
  <link rel="manifest" href="/favicons/manifest.json?v=NmY2AXwMBG">
  <link rel="shortcut icon" href="/favicons/favicon.ico?v=NmY2AXwMBG">
  <meta name="msapplication-TileColor" content="#4a311f">
  <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=NmY2AXwMBG">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=NmY2AXwMBG">
  <meta name="theme-color" content="#ffffff">

  {% include google-analytics.html %}
</head>
