<div class="fixed">
  <nav class="top-bar" data-topbar data-options="scrolltop: false" role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><img src="{{ "/favicons/favicon-96x96.png" | prepend: site.baseurl_root }}" /></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>{% t menu.menu %}</span></a></li>
    </ul>
    <section class="top-bar-section no-padding">
      <ul class="right"></ul>
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#about">{% t quem_somos.titulo_menu %}</a></li>
        <li><a href="#services">{% t servicos.titulo_menu %}</a></li>
        <li><a href="#community">{% t comunidade.titulo_menu %}</a></li>
        <li><a href="#team">{% t time.titulo_menu %}</a></li>
        <li><a href="#contact">{% t contato.titulo_menu %}</a></li>
      </ul>
    </section>
  </nav>
</div>
