<section id="about" class="text-center fundo-branco">
  <div class="row">
    <div class="columns medium-12">
      <h1 class="titulo">
        <span data-palavras="{% t text_malarkey%}" class="malarkey">&nbsp;</span><br />
        {% t quem_somos.titulo %}
      </h1>
      <h2 class="subtitulo">{% t quem_somos.subtitulo %}</h2>
      <p itemprop="description">{% t quem_somos.descricao %}</p>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <ul class="small-block-grid-1 medium-block-grid-3">
        <li class="value">
          <i class="icon-software destaque"></i>
          <p class="uppercase">{% t quem_somos.software %}</p>
        </li>
        <li class="value">
          <i class="icon-resultados destaque"></i>
          <p class="uppercase">{% t quem_somos.resultados %}</p>
        </li>
        <li class="value">
          <i class="icon-satisfacao destaque"></i>
          <p class="uppercase">{% t quem_somos.parcerias %}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
