<section id="about" class="text-center fundo-branco">
  <div class="row">
    <div class="columns medium-12">
      <h1 class="titulo">
        <span class="malarkey">&nbsp;</span><br />
        software com propósito
      </h1>
      <h2 class="subtitulo">que une a nossa energia com as suas ideias</h2>
      <p itemprop="description">Nos espelhamos no ofício carinhoso dos artesãos para colocarmos a alma em cada bit produzido. Abraçamos as tecnologias, práticas e metodologias do século 21 para alavancar a construção de software. A intenção é utilizar o trabalho desempenhado como ferramenta de mudança social, sustentabilidade e resolução de problemas pertinentes em nossas vidas.</p>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <ul class="small-block-grid-1 medium-block-grid-3">
        <li class="value">
          <i class="icon-software destaque"></i>
          <p class="uppercase">Concepção e produção de software de excelente qualidade</p>
        </li>
        <li class="value">
          <i class="icon-resultados destaque"></i>
          <p class="uppercase">Entrega de valor de forma crescente e constante</p>
        </li>
        <li class="value">
          <i class="icon-satisfacao destaque"></i>
          <p class="uppercase">Realização de parcerias verdadeiramente produtivas</p>
        </li>
      </ul>
    </div>
  </div>
</section>
