<section id="services" class="text-center fundo-salmao">
  <div class="row">
    <div class="columns medium-8 medium-centered">
      <h1 class="titulo">{% t servicos.titulo %}</h1>
      <p>
        {% t servicos.descricao %}
      </p>
    </div>
  </div>
  <div class="service row medium-collapse small-uncollapse">
    <div class="columns large-6">
      <div class="valign">
        <div class="align middle service-box service-box-desenvolvimento-destaque fundo-marrom">
          <h2 class="no-margin no-padding service-title subtitulo">{% t servicos.desenvolvimento.titulo %}</h2>
        </div>
      </div>
    </div>
    <div class="columns large-6">
      <div class="valign">
        <div class="align middle service-box service-box-desenvolvimento fundo-marrom">
          <p class="service-description">
            {% t servicos.desenvolvimento.descricao %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="service row medium-collapse small-uncollapse">
    <div class="columns large-6 large-push-6">
      <div class="valign">
        <div class="align middle service-box service-box-consultoria-destaque fundo-marrom">
          <h2 class="no-margin no-padding service-title subtitulo">{% t servicos.consultoria.titulo %}</h2>
        </div>
      </div>
    </div>
    <div class="columns large-6 large-pull-6">
      <div class="valign">
        <div class="align middle service-box service-box-consultoria fundo-marrom">
          <p class="service-description">
            {% t servicos.consultoria.descricao %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="service row medium-collapse small-uncollapse">
    <div class="columns large-6">
      <div class="valign">
        <div class="align middle service-box service-box-treinamento-destaque fundo-marrom">
          <h2 class="no-margin no-padding service-title subtitulo">{% t servicos.treinamento.titulo %}</h2>
        </div>
      </div>
    </div>
    <div class="columns large-6">
      <div class="valign">
        <div class="align middle service-box service-box-treinamento fundo-marrom">
          <p class="service-description">
            {% t servicos.treinamento.descricao %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
