<section id="services" class="text-center fundo-salmao">
  <div class="row">
    <div class="columns medium-8 medium-centered">
      <h1 class="titulo">Serviços</h1>
      <p>
        O mundo da tecnologia oferece um imenso leque de opções e precisamos ser versáteis para atender sua necessidade.<br />
        Aqui é onde depositamos nossa personalidade. Nossas mentes não param.
      </p>
    </div>
  </div>
  <div class="service row medium-collapse small-uncollapse">
    <div class="columns large-6">
      <div class="valign">
        <div class="align middle service-box service-box-desenvolvimento-destaque fundo-marrom">
          <h2 class="no-margin no-padding service-title subtitulo">Desenvolvimento</h2>
        </div>
      </div>
    </div>
    <div class="columns large-6">
      <div class="valign">
        <div class="align middle service-box service-box-desenvolvimento fundo-marrom">
          <p class="service-description">
            Produzimos software desde a discussão de requisitos até a implantação. Pesquisamos, prototipamos, incrementamos e humanizamos todo o nosso trabalho em prol das soluções que construímos. Diálogo constante e adaptação às mudanças são pontos-chave.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="service row medium-collapse small-uncollapse">
    <div class="columns large-6 large-push-6">
      <div class="valign">
        <div class="align middle service-box service-box-consultoria-destaque fundo-marrom">
          <h2 class="no-margin no-padding service-title subtitulo">Consultoria</h2>
        </div>
      </div>
    </div>
    <div class="columns large-6 large-pull-6">
      <div class="valign">
        <div class="align middle service-box service-box-consultoria fundo-marrom">
          <p class="service-description">
            A cada projeto absorvemos os erros e acertos cometidos. A meta é detectar inconsistências na aplicação de metodologias e processos para solidificar as etapas de desenvolvimento e análise almejando um promissor ciclo de vida de engenharia de software.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="service row medium-collapse small-uncollapse">
    <div class="columns large-6">
      <div class="valign">
        <div class="align middle service-box service-box-treinamento-destaque fundo-marrom">
          <h2 class="no-margin no-padding service-title subtitulo">Treinamentos</h2>
        </div>
      </div>
    </div>
    <div class="columns large-6">
      <div class="valign">
        <div class="align middle service-box service-box-treinamento fundo-marrom">
          <p class="service-description">
            Somos altruístas. Realizamos capacitações de ferramentas, técnicas e conceitos que dominamos a fim de evoluir as expertises simbioticamente. A força de vontade em compartilhar a sabedoria é a razão para aprendermos cada vez mais.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
