<section id="team" class="text-center fundo-branco">
  <div class="row">
    <div class="columns medium-12">
      <h1 class="titulo">{% t time.titulo %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <ul class="small-block-grid-1 medium-block-grid-3 team-list">
        <li class="team-member">
          <img src="{{ "/images/andre-pb.jpg" | prepend: site.baseurl_root }}" class="team-member-image circular" alt="André Poleza programando"/>
          <a class="team-member-link" href="mailto:andre@nepente.io">André Poleza</a>
          <ul class="small-block-grid-5 team-member-contact">
            <li></li>
            <li><a href="https://twitter.com/andrepoleza" target="_blank" class="icone icon-twitter"></a></li>
            <li><a href="https://github.com/andrepoleza" target="_blank" class="icone icon-github"></a></li>
            <li><a href="https://www.linkedin.com/in/andrepoleza" target="_blank" class="icone icon-linkedin"></a></li>
            <li></li>
          </ul>
        </li>
        <li class="team-member">
          <img src="{{ "images/diego-pb.jpg" | prepend: site.baseurl_root }}" class="circular" alt="Diego Fernandez com os braços cruzados" />
          <a href="mailto:diego@nepente.io" class="team-member-link">Diego Fernandez</a>
          <ul class="small-block-grid-5 team-member-contact">
            <li></li>
            <li><a href="https://twitter.com/diegobfernandez" target="_blank" class="icone icon-twitter"></a></li>
            <li><a href="https://github.com/diegobfernandez" target="_blank" class="icone icon-github"></a></li>
            <li><a href="https://www.linkedin.com/in/diegobfernandez" target="_blank" class="icone icon-linkedin" class="icon-linkedin"></a></li>
            <li></li>
          </ul>
        </li>
        <li class="team-member">
          <img src="{{ "images/felipe-pb.jpg" | prepend: site.baseurl_root }}" class="circular" alt="Felipe Lima tomando um café" >
          <a href="mailto:felipe@nepente.io" class="team-member-link">Felipe Lima</a>
          <ul class="small-block-grid-5 team-member-contact">
            <li></li>
            <li><a href="https://twitter.com/limafelipe92" target="_blank" class="icone icon-twitter"></a></li>
            <li><a href="https://github.com/limafelipe" target="_blank" class="icone icon-github"></a></li>
            <li><a href="https://www.linkedin.com/in/felipelima92" target="_blank" class="icone icon-linkedin"></a></li>
            <li></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12" id="envie-seu-curriculo">
      <p>
        <b>Quer se tornar um artesão?</b> Comece <a href="mailto:queroserumartesao@nepente.io?subject=Quero ser um artesão!"><b>enviando seu currículo</b></a>!
      </p>
    </div>
  </div>
</section>
