#envie-seu-curriculo {
  text-align: center;
}

#envie-seu-curriculo p {
  margin-bottom: 0;
  margin-top: 15px;
}

#envie-seu-curriculo p b {
  display: block;
}

#envie-seu-curriculo p a {
  color: rgb(244, 162, 119);
}

#envie-seu-curriculo p a:hover {
  text-decoration: underline;
}


@media only screen and (min-width: 40.063em) {
  #envie-seu-curriculo p b {
    display: inline;
  }
}
