* {
  -webkit-text-size-adjust: none;
}

body, h1, h2, h3, h4, p, span, blockquote, cite {
  font-family: inherit;
  color: inherit;
}

body {
  font-family: 'Droid Sans', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 60px 0px;
}

p, blockquote {
  margin-bottom: 30px;
}

p, span {
  font-size: 1.2em;
}

select {
  -moz-appearance: none;
}

.circular{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.uppercase {
  text-transform: uppercase;
}

[class^="icon-"],
[class*=" icon-"] {
  font-size: 5em;
}

[class^="icon-"].destaque,
[class*=" icon-"].destaque {
  border-radius: 25%;
}

button,
.button {
  border-radius: 20px;
}

.titulo,
.subtitulo {
  font-weight: 700;
}

.titulo {
  font-size: 2.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo {
  font-size: 1.8em;
  margin-bottom: 40px;
}

.fundo-branco {
  background-color: rgb(255, 255, 255);
}

.fundo-branco .titulo {
  color: rgb(242, 151, 108);
}

.fundo-branco .subtitulo {
  color: rgb(69,69,69);
}

.fundo-branco button,
.fundo-branco .button {
  color: rgb(255, 255, 255);
  background: rgb(242, 151, 108);
}

.fundo-branco button:hover,
.fundo-branco .button:hover {
  color: rgb(242, 151, 108);
  background: rgb(74, 49, 31);
}

.fundo-branco [class^="icon-"],
.fundo-branco [class*=" icon-"] {
  color: rgb(242, 151, 108);
}

.fundo-branco [class^="icon-"].destaque,
.fundo-branco [class*=" icon-"].destaque {
  background-color: rgb(242, 151, 108);
  color: rgb(74, 49, 31);
}

.fundo-salmao {
  background-color: rgb(242, 151, 108);
  color: rgb(255, 255, 255);
}

.fundo-salmao .titulo {
  color: rgb(74, 49, 31);
}

.fundo-salmao .subtitulo {
  color: rgb(69,69,69);
}

.fundo-marrom {
  background-color: rgb(74, 49, 31);
  color: rgb(255, 255, 255);
}

.fundo-marrom .titulo {
  color: rgb(242, 151, 108);
}

.fundo-marrom .subtitulo {
  color: rgb(255, 255, 255);
}

.fundo-marrom [class^="icon-"],
.fundo-marrom [class*=" icon-"] {
  color: rgb(242, 151, 108);
}

.fundo-marrom [class^="icon-"].destaque,
.fundo-marrom [class*=" icon-"].destaque {
  background-color: rgb(242, 151, 108);
  color: rgb(74, 49, 31);
}

.valign {
  display: table;
  width: 100%;
}

.valign > .align {
  display: table-cell;
}

.valign > .align.middle {
  vertical-align: middle;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.footer {
  padding: 15px 0;
}

.footer .essence {
  line-height: 2em;
  color: rgb(242, 151, 108);
}

.footer [class^="icon-"],
.footer [class*=" icon-"] {
  font-size: 1em;
  color: rgb(230, 80, 80);
}

@media only screen and (min-width: 40.063em) {
  .titulo {
    font-size: 2.5em;
  }

  .subtitulo {
    font-size: 1.9em;
  }
}
